
    <div class="page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <h2 class="text-center mb-4" style="color: white;">Ingresar</h2>
              <div class="auto-form-wrapper">
                <form [formGroup]='loginForm' (submit)='loginUser()'>
                  <div class="form-group">
                    <label class="label">Email</label>
                    <div class="input-group">
                      <input type="email" formControlName='txt_email' class="form-control" placeholder="Email">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-check-circle"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label">Contraseña</label>
                    <div class="input-group">
                      <input type="password" formControlName='txt_password' class="form-control" placeholder="*********">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-check-circle"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">

                    <button *ngIf='!cargando' class="btn btn-primary submit-btn btn-block" [disabled]='loginForm.invalid' type="submit">Login</button>
                    <button *ngIf='cargando' class="btn btn-primary submit-btn btn-block" [disabled]='true' type="button"> <i class="fa fa-spin fa-sync"></i> Espere.....</button>
                  </div>
                  
                  
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">No estas registrado? </span>
                    <br>
                    <a href="/register" class="text-black text-small">Crear una cuenta</a>
                  </div>
                </form>
              </div>
              
              
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
